<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'TAB2_TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  
  <ion-item *ngFor="let timeline of data | async;">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      {{timeline.time}}
      <p>{{timeline.action}} {{timeline.targetObject}}</p>
      <p></p>

    </ion-label>
  </ion-item>

 
</ion-content>
<!-- test commit-->
