<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngFor="let timeline of data">
    <ion-avatar slot="start" *ngIf="isReacted(timeline.action)">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isUnreacted(timeline.action)">
      <ion-icon name="heart-dislike-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isParticipated(timeline.action)">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isUnparticipated(timeline.action)">
      <ion-icon name="person-remove-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isReportedEvent(timeline.action)">
      <ion-icon name="alert-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isReportedComment(timeline.action)">
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isCreatedEvent(timeline.action)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isDeletedEvent(timeline.action)">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isCreatedComment(timeline.action)">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar slot="start" *ngIf="isDeletedComment(timeline.action)">
      <ion-icon name="remove-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      {{timeline.time}}
      <p>{{timeline.action}} {{timeline.targetObject}}</p>
    </ion-label>
  </ion-item>

</ion-content>
<!-- test commit-->
